.cosas{
    @include flex (flex, space-around, center);
    flex-wrap: wrap;

    div {border: 1px solid $color-terciario;
        width: 305px;
        height: 390px;
        text-align: center;
        margin-top: 50px;}

    div img{width: 280px;
        height: 250px;}

    div a{text-decoration: none;
        color: $color-secundario;
        background-color: $color-principal;
        padding: 15px;
        font-size: 20px;}

    div p{font-size: 30px;
        margin-bottom: 25px;}
    }

.cosas-titulo{
    font-size: 25px;
    margin-top: 30px;
    margin-left: 30px;
    }

.contenedor-mapa{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
    width: 1200px;
}

.mapa{
    margin-top: 40px;
    margin-left: 20px;
}


.formulario{
    width: 300px;
    margin-left: 20px;
    margin-right: 200px;
    margin-top: 70px;
}

.formulario label{
    display: block;
    margin-bottom: 10px;
}

.formulario input .formulario textarea{
    width: 100%;
    margin-bottom: 20px;
}