@media screen and(
    max-width: 650px)
    {
    footer{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    footer h2{
        width: 100%;
        text-align: center;
        font-size: 50px;
    }
}

@media screen and(
    max-width: 670px)
    {
    .cuadrado{
        display: none;}

    .texto{
        display: none;}
}

@media screen and(
    max-width: 650px)
    {
    .seguimiento a{
        display: none;}

}